/* div {
  border: 1px solid red;
} */

body {
  background: url("./images/food.png")repeat;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#appName {
  font-size: 72px;
}

form {
  margin-bottom: 50px;
}

.navbar {
  background: #FAD083 !important;
  box-shadow: white;
}

.ReactModal__Content {
  width: 500px;
  margin-top: 10%;
  /* box-shadow: 3px 5px 15px 5px rgb(32, 32, 32); */
}

.ReactModal__Overlay--after-open {
  background: rgba(64, 64, 64, 0.3) !important;
}

.navbar-brand {
  transition-duration: 0.5s;
  color: white !important;
  font-weight: initial !important;
}
.modal-header {
  color: white;
}

.navbar-brand:hover {
  transition-duration: 0.3s;
  color: white !important;
}

.nav-link {
  transition-duration: 0.5s;
  color: white !important;
  font-weight: bold !important;
}

.nav-link:hover {
  transition-duration: 0.1s;
  color: white !important;
}

.options {
  background: #FAD083;
}

.modalBody {
  border-radius: 5px 5px 5px 5px;
}
.modal-body {
  background: #FAD083;
}

.box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  /* background: rgba(192, 192, 192, 0.7); */
  /* border: 1px solid rgb(16, 16, 16); */
  /* box-shadow: 3px 5px 15px 5px rgb(32, 32, 32); */
}

.border,
.optionBox {
  background: rgba(255, 255, 255, 0.2);
}

.border {
  border: 1px solid rgb(16, 16, 16) !important;
}
#user {
  font-size: 2rem;
}
.form,
#user {
  margin: 10px;
  color: white;
  /* background: lightgrey; */
  padding: 10px;
  /* border-radius: 5px 5px 5px 5px; */
  /* box-shadow: 1px 1px 7px 1px rgb(32, 32, 32); */
}

#items {
  transition-duration: 0.4s;
  /* border: 1px solid rgb(235, 235, 235); */
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
  padding: 25px;
  background: #FAD083;
}
.itemTitle {
  font-size: 1.3rem;
}
.submenu {
  border-bottom: 1px solid white;
}
.btn-light {
  max-width: 100px;
  margin-top: 20px;
}
#items:hover {
  transition-duration: 0.1s;
  box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.2);
}

#notLoggedIn {
  transition-duration: 0.5s;
  margin: auto;
  font-size: 36px;
  /* border: 1px solid black; */
  border-radius: 5px 5px 5px 5px;
  /* background: rgba(212, 212, 212, 0.6); */
  /* box-shadow: 3px 5px 15px 5px rgb(32, 32, 32); */
  margin-top: 5%;
  height: 400px;
  width: 90%;
}

.carousel-inner {
  text-align: center;
  color: white;
}

.carousel-inner {
  height: 200px;
  top: 100px;
}

#site:hover {
  font-weight: initial;
}

.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:before,
.underline:focus:before,
.underline:active:before {
  left: 0;
  right: 0;
}