.articleTitle {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}
.card-text {
    font-weight: 100;
}
a {
    color: #333;
}
a:hover {
    font-weight: 700;
    text-decoration: none;
}
.saveBtn {
    float: right;
}
.byline {
    float: left;
}
textarea {
    font-weight: 100;
}